// Common css start
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
// Block strat
.title {
    text-align: center;
    margin-top: 30px;
    &__bem{
            display: inline-block;
            font-size: 33px;
            font-weight: 900;
    }
}
// Block end
.btn{
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    background-color: teal;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s;
    &:hover{
        background-color: forestgreen;
        color: #333;
    }
}
// Common css end




// Block start
.service {
        width: 1000px;
        margin: 100px auto;
        background-color: #f2f2f2;
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
// Element start
        &__single {
            padding: 20px;
            background-color: tomato;
            color: #fff;
            flex-basis: 32%;
        }
        &__title{
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;
        }
        &__des{
            line-height: 20px;
            padding: 12px 0;
            font-size: 15px;
            font-weight: 700;
        }    
        &__btn{
//   Modifier start  
            &--red{
                background-color: red;
                color: #fff;
                &:hover{
                    background-color: maroon;
                    color: #fff;
                }
            }
            &--green{
                background-color: green;
                color: #333;
                &:hover{
                    background-color: limegreen;
                    color: #fff;
                }
            }
            &--blue{
                background-color: blue;
                color: #f2f2f2;
                &:hover{
                    background-color: royalblue;
                    color: #333;
                }
            }
        // Modifier end
   }
    // Element end            
}
// Block end
    